* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-image {
  width: 150px;
}

.details-images {
  width: 40px;
}
.top-container {
  display: flex;
  background-color: #454f84;
}
.password-manager-image {
  width: 250px;
}
.search-pwdcount {
  display: flex;
}
.no-password-image {
  width: 150px;
}
